.all-tasks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .task-card {
    max-width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .task-card h2 {
    font-size: 18px;
    color: #333;
  }
  
  .task-card p {
    margin-bottom: 10px;
    color: #666;
  }
  
  .status {
    font-weight: bold;
  }
  
  .delete-button {
    background-color: #ff5c5c;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .delete-button:hover {
    background-color: #ff3c3c;
  }
  
  /* Styling for In Progress tasks */
  .task-card.in-progress {
    background-color: rgb(158, 240, 158);
  }
  
  /* Styling for Completed tasks */
  .task-card.completed {
    background-color: rgb(180, 175, 175);
  }
  