/* Login.css */
.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh; 
  background-image: url("./assets/login.jpg"); 
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
  background-color: RGB(224, 223, 255);
  background-attachment: fixed; 
}


.login-form {
  background-color: #fff; 
  padding: 50px;
  border-radius: 10px;
  margin-left: 15%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

.login-form h1 {
  color: #333; /* Text color */
}

.login-form label {
  font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 90%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff; /* Button color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  text-align: center;
  display: flex;
}

.login-form button:hover {
  background-color: #0056b3; /* Hover color */
}
